<!DOCTYPE html>
<html>
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="gray-bg">
<div class="wrapper wrapper-content animated fadeInRight">
	<div class="row">
		<div class="col-sm-12">
			<div class="ibox-content">
				<form class="form-horizontal m-t" id="signupForm">
					<input id="id" name="id" th:value="${jiaoyuinfo.id}" type="hidden">
					<input id="jiaoyuTypeId1" name="jiaoyuTypeId1" th:value="${jiaoyuinfo.jiaoyuTypeId}" type="hidden">
					<div class="form-group">
						<label class="col-sm-3 control-label">教育时间：</label>
						<div class="col-sm-8">
							<input type="text" class="form-control" name="startTimeStr" placeholder="yyyy-MM-dd HH:mm:ss" id="jianchaStartTime" th:value="${jiaoyuinfo.startTimeStr}" autocomplete="off" >
						</div>
					</div>

					<div class="form-group">
						<label class="col-sm-3 control-label">教育类型：</label>
						<div class="col-sm-8">
							<select name="jiaoyuTypeId" id="jiaoyuTypeId" class="form-control"  >
								<option th:each="pets:${jiaoyutype}" th:value="${pets.id}"
										th:text="${pets.name}"></option>
							</select>
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-3 control-label">教育内容：</label>
						<div class="col-sm-8">
							<input id="remark" name="remark" class="form-control" th:value="${jiaoyuinfo.remark}" type="text">
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-3 control-label">教育部门：</label>
						<div class="col-sm-8">
							<input id="bumen" name="bumen" class="form-control"  th:value="${jiaoyuinfo.bumen}" type="text">
						</div>
					</div>
					<div class="form-group">
						<div class="col-sm-8 col-sm-offset-3">
							<input type="button" class="btn btn-primary" onclick="update()" value="提交"/>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
<div th:include="include::footer"></div>
<script src="/ueditor-1.4.3.3/ueditor.config.js"></script>
<script src="/ueditor-1.4.3.3/ueditor.all.min.js"></script>
<script src="/ueditor-1.4.3.3/lang/zh-cn/zh-cn.js"></script>
<script type="text/javascript" src="/js/appjs/sys/jiaoyu/edit.js">
</script>
<script type="text/javascript" src="/layui/layui.js"></script>
<script type="text/javascript" >
    layui.use('laydate', function(){
        var laydate = layui.laydate;
        //日期时间范围
        laydate.render({
            elem: '#jianchaStartTime'
            ,type: 'datetime'
        });
    });
</script>
</body>
</html>
