<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="gray-bg">
<div class="wrapper wrapper-content ">
	<div class="row">
		<div class="col-sm-12">
			<div class="ibox float-e-margins">
				<div class="ibox-content">
					<form class="form-horizontal m-t" id="signupForm">
						<input id="status" name="status" type="hidden" value="1">
						<div class="form-group">
							<label class="col-sm-3 control-label">检查人姓名：</label>
							<div class="col-sm-8">
								<select name="userId" id="userId" class="form-control"  >
									<option th:each="pets:${userdo}" th:value="${pets.userId}"
											th:text="${pets.userId}+'----'+${pets.name}"></option>
								</select>
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-3 control-label">检查起始时间：</label>
							<div class="col-sm-8">
								<input type="text" class="form-control" name="startTimeStr" placeholder="yyyy-MM-dd HH:mm:ss" id="jianchaStartTime"  autocomplete="off" >
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-3 control-label">检查结束时间：</label>
							<div class="col-sm-8">
								<input type="text" class="form-control" name="endTimeStr" placeholder="yyyy-MM-dd HH:mm:ss" id="jianchaEndTime"  autocomplete="off" >
							</div>
						</div>

						<div class="form-group">
							<label class="col-sm-3 control-label">有无隐患：</label>
							<div class="col-sm-8">
								<select name="ifYinhuan" id="ifYinhuan" class="form-control"  >
									<option value="0" > 存在隐患</option>
									<option value="1" > 正常</option>
								</select>
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-3 control-label">隐患类型：</label>
							<div class="col-sm-8">
								<select name="yinhuanTypeId" id="yinhuanTypeId" class="form-control"  >
									<option th:each="pets:${yinhuantype}" th:value="${pets.id}"
											th:text="${pets.name}"></option>
								</select>
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-3 control-label">隐患描述：</label>
							<div class="col-sm-8">
								<input id="yinhuanRemark" name="yinhuanRemark" class="form-control" type="text">
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-3 control-label">隐患严重度：</label>
							<div class="col-sm-8">
								<select name="yinhuanYanzhongId" id="yinhuanYanzhongId" class="form-control"  >
									<option  value="1"> 无隐患</option>
									<option  value="2"> 轻度隐患</option>
									<option  value="3"> 中度隐患</option>
									<option  value="4"> 重度隐患</option>
								</select>
							</div>
						</div>
						<div class="form-group">
							<div class="col-sm-8 col-sm-offset-3">
								<input type="button" class="btn btn-primary" onclick="save()" value="提交"/>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>

</div>
<div th:include="include::footer"></div>
<script type="text/javascript" src="/js/appjs/sys/anquanyinhuan/add.js"></script>

<script type="text/javascript" src="/layui/layui.js"></script>
<script type="text/javascript" >
    layui.use('laydate', function(){
        var laydate = layui.laydate;
        //日期时间范围
        laydate.render({
            elem: '#jianchaStartTime'
            ,type: 'datetime'
        });
        laydate.render({
            elem: '#jianchaEndTime'
            ,type: 'datetime'
        });
    });
</script>
</body>
</html>
