<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.system.mapper.ShebeiInfoMapper">
  <resultMap id="BaseResultMap" type="com.system.domain.ShebeiInfo">
    <constructor>
      <idArg column="id" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="leibie_id" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="leibie_name" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="xinghao" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="zhizaoshang" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="num" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="goumai_time" javaType="java.util.Date" jdbcType="TIMESTAMP" />
      <arg column="create_time" javaType="java.util.Date" jdbcType="TIMESTAMP" />
      <arg column="bumen_id" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="bumen_name" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="shebeizhuangkuang" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="flag" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="type" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="remark" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="status" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="shebei_id" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="user_id" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="user_name" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="create_user_id" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="create_user_name" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="end_time" javaType="java.util.Date" jdbcType="TIMESTAMP" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List">
    id, leibie_id, leibie_name, xinghao, zhizaoshang, num, goumai_time, create_time,
    bumen_id, bumen_name, shebeizhuangkuang, flag, type, remark, status, shebei_id, user_id,
    user_name, create_user_id, create_user_name,end_time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultType="com.system.domain.ShebeiInfo">
    SELECT
      id,
      leibie_id,
    ( SELECT a.NAME FROM type_info a WHERE a.id = c.leibie_id ) leibie_name,
      xinghao,
      zhizaoshang,
      num,
      goumai_time,
    DATE_FORMAT( goumai_time, "%Y-%m-%d %H:%i:%s" ) startTimeStr,
      create_time,
      bumen_id,
      bumen_name,
      shebeizhuangkuang,
      flag,
      type,
      remark,
      status,
      shebei_id,
      user_id,
    ( SELECT a.NAME FROM sys_user a WHERE a.user_id = c.user_id ) user_name,
      create_user_id,
    ( SELECT a.NAME FROM sys_user a WHERE a.user_id = c.create_user_id ) create_user_name,
    end_time,
    DATE_FORMAT( end_time, "%Y-%m-%d %H:%i:%s" ) endTimeStr
    FROM
    shebei_info c
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from shebei_info
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.system.domain.ShebeiInfo">
    insert into shebei_info (id, leibie_id, leibie_name,
      xinghao, zhizaoshang, num,
      goumai_time, create_time, bumen_id,
      bumen_name, shebeizhuangkuang, flag,
      type, remark, status,
      shebei_id, user_id, user_name,
      create_user_id, create_user_name, end_time
      )
    values (#{id,jdbcType=INTEGER}, #{leibieId,jdbcType=INTEGER}, #{leibieName,jdbcType=VARCHAR},
      #{xinghao,jdbcType=VARCHAR}, #{zhizaoshang,jdbcType=VARCHAR}, #{num,jdbcType=INTEGER},
      #{goumaiTime,jdbcType=TIMESTAMP}, #{createTime,jdbcType=TIMESTAMP}, #{bumenId,jdbcType=INTEGER},
      #{bumenName,jdbcType=VARCHAR}, #{shebeizhuangkuang,jdbcType=VARCHAR}, #{flag,jdbcType=VARCHAR},
      #{type,jdbcType=VARCHAR}, #{remark,jdbcType=VARCHAR}, #{status,jdbcType=VARCHAR},
      #{shebeiId,jdbcType=INTEGER}, #{userId,jdbcType=INTEGER}, #{userName,jdbcType=VARCHAR},
      #{createUserId,jdbcType=INTEGER}, #{createUserName,jdbcType=VARCHAR}, #{endTime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.system.domain.ShebeiInfo">
    insert into shebei_info
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="leibieId != null">
        leibie_id,
      </if>
      <if test="leibieName != null">
        leibie_name,
      </if>
      <if test="xinghao != null">
        xinghao,
      </if>
      <if test="zhizaoshang != null">
        zhizaoshang,
      </if>
      <if test="num != null">
        num,
      </if>
      <if test="goumaiTime != null">
        goumai_time,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="bumenId != null">
        bumen_id,
      </if>
      <if test="bumenName != null">
        bumen_name,
      </if>
      <if test="shebeizhuangkuang != null">
        shebeizhuangkuang,
      </if>
      <if test="flag != null">
        flag,
      </if>
      <if test="type != null">
        type,
      </if>
      <if test="remark != null">
        remark,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="shebeiId != null">
        shebei_id,
      </if>
      <if test="userId != null">
        user_id,
      </if>
      <if test="userName != null">
        user_name,
      </if>
      <if test="createUserId != null">
        create_user_id,
      </if>
      <if test="createUserName != null">
        create_user_name,
      </if>
      <if test="endTime != null">
        end_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="leibieId != null">
        #{leibieId,jdbcType=INTEGER},
      </if>
      <if test="leibieName != null">
        #{leibieName,jdbcType=VARCHAR},
      </if>
      <if test="xinghao != null">
        #{xinghao,jdbcType=VARCHAR},
      </if>
      <if test="zhizaoshang != null">
        #{zhizaoshang,jdbcType=VARCHAR},
      </if>
      <if test="num != null">
        #{num,jdbcType=INTEGER},
      </if>
      <if test="goumaiTime != null">
        #{goumaiTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="bumenId != null">
        #{bumenId,jdbcType=INTEGER},
      </if>
      <if test="bumenName != null">
        #{bumenName,jdbcType=VARCHAR},
      </if>
      <if test="shebeizhuangkuang != null">
        #{shebeizhuangkuang,jdbcType=VARCHAR},
      </if>
      <if test="flag != null">
        #{flag,jdbcType=VARCHAR},
      </if>
      <if test="type != null">
        #{type,jdbcType=VARCHAR},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        #{status,jdbcType=VARCHAR},
      </if>
      <if test="shebeiId != null">
        #{shebeiId,jdbcType=INTEGER},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="userName != null">
        #{userName,jdbcType=VARCHAR},
      </if>
      <if test="createUserId != null">
        #{createUserId,jdbcType=INTEGER},
      </if>
      <if test="createUserName != null">
        #{createUserName,jdbcType=VARCHAR},
      </if>
      <if test="endTime != null">
        #{endTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.system.domain.ShebeiInfo">
    update shebei_info
    <set>
      <if test="leibieId != null">
        leibie_id = #{leibieId,jdbcType=INTEGER},
      </if>
      <if test="leibieName != null">
        leibie_name = #{leibieName,jdbcType=VARCHAR},
      </if>
      <if test="xinghao != null">
        xinghao = #{xinghao,jdbcType=VARCHAR},
      </if>
      <if test="zhizaoshang != null">
        zhizaoshang = #{zhizaoshang,jdbcType=VARCHAR},
      </if>
      <if test="num != null">
        num = #{num,jdbcType=INTEGER},
      </if>
      <if test="goumaiTime != null">
        goumai_time = #{goumaiTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="bumenId != null">
        bumen_id = #{bumenId,jdbcType=INTEGER},
      </if>
      <if test="bumenName != null">
        bumen_name = #{bumenName,jdbcType=VARCHAR},
      </if>
      <if test="shebeizhuangkuang != null">
        shebeizhuangkuang = #{shebeizhuangkuang,jdbcType=VARCHAR},
      </if>
      <if test="flag != null">
        flag = #{flag,jdbcType=VARCHAR},
      </if>
      <if test="type != null">
        type = #{type,jdbcType=VARCHAR},
      </if>
      <if test="remark != null">
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=VARCHAR},
      </if>
      <if test="shebeiId != null">
        shebei_id = #{shebeiId,jdbcType=INTEGER},
      </if>
      <if test="userId != null">
        user_id = #{userId,jdbcType=INTEGER},
      </if>
      <if test="userName != null">
        user_name = #{userName,jdbcType=VARCHAR},
      </if>
      <if test="createUserId != null">
        create_user_id = #{createUserId,jdbcType=INTEGER},
      </if>
      <if test="createUserName != null">
        create_user_name = #{createUserName,jdbcType=VARCHAR},
      </if>
      <if test="endTime != null">
        end_time = #{endTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.system.domain.ShebeiInfo">
    update shebei_info
    set leibie_id = #{leibieId,jdbcType=INTEGER},
      leibie_name = #{leibieName,jdbcType=VARCHAR},
      xinghao = #{xinghao,jdbcType=VARCHAR},
      zhizaoshang = #{zhizaoshang,jdbcType=VARCHAR},
      num = #{num,jdbcType=INTEGER},
      goumai_time = #{goumaiTime,jdbcType=TIMESTAMP},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      bumen_id = #{bumenId,jdbcType=INTEGER},
      bumen_name = #{bumenName,jdbcType=VARCHAR},
      shebeizhuangkuang = #{shebeizhuangkuang,jdbcType=VARCHAR},
      flag = #{flag,jdbcType=VARCHAR},
      type = #{type,jdbcType=VARCHAR},
      remark = #{remark,jdbcType=VARCHAR},
      status = #{status,jdbcType=VARCHAR},
      shebei_id = #{shebeiId,jdbcType=INTEGER},
      user_id = #{userId,jdbcType=INTEGER},
      user_name = #{userName,jdbcType=VARCHAR},
      create_user_id = #{createUserId,jdbcType=INTEGER},
      create_user_name = #{createUserName,jdbcType=VARCHAR},
      end_time = #{endTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="list" resultType="com.system.domain.ShebeiInfo">
    SELECT
      id,
      leibie_id,
    ( SELECT a.NAME FROM type_info a WHERE a.id = c.leibie_id ) leibie_name,
      xinghao,
      zhizaoshang,
      num,
      goumai_time,
    DATE_FORMAT( goumai_time, "%Y-%m-%d %H:%i:%s" ) startTimeStr,
      create_time,
      bumen_id,
      bumen_name,
      shebeizhuangkuang,
      flag,
      type,
      remark,
      status,
      shebei_id,
      user_id,
    ( SELECT a.NAME FROM sys_user a WHERE a.user_id = c.user_id ) user_name,
      create_user_id,
    ( SELECT a.NAME FROM sys_user a WHERE a.user_id = c.create_user_id ) create_user_name,
    end_time,
    DATE_FORMAT( end_time, "%Y-%m-%d %H:%i:%s" ) endTimeStr
    FROM
    shebei_info c
    <where>
      <if test="xinghao != null and xinghao != ''"> and xinghao like concat('%',#{xinghao},'%') </if>
      <if test="flag != null and flag != ''"> and flag = #{flag} </if>
      <if test="userId != null and userId != ''"> and user_id = #{userId} </if>
      <if test="createUserId != null and createUserId != ''"> and create_user_id = #{createUserId} </if>

      <if test="flag != null and flag != ''"> and flag = #{flag} </if>
      <if test="type != null and type != ''"> and type = #{type} </if>
      <if test="status != null and status != ''"> and status = #{status} </if>
    </where>
    <choose>
      <when test="sort != null and sort.trim() != ''">
        order by ${sort} ${order}
      </when>
      <otherwise>
        order by create_time desc
      </otherwise>
    </choose>
    <if test="offset != null and limit != null">
      limit #{offset}, #{limit}
    </if>
  </select>

  <select id="count" resultType="int">
    select count(*) from shebei_info
    <where>
      <if test="xinghao != null and xinghao != ''"> and xinghao like concat('%',#{xinghao},'%') </if>
      <if test="flag != null and flag != ''"> and flag = #{flag} </if>
      <if test="type != null and type != ''"> and type = #{type} </if>
      <if test="status != null and status != ''"> and status = #{status} </if>
    </where>
  </select>
</mapper>