<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.system.mapper.ShiguInfoMapper">
  <resultMap id="BaseResultMap" type="com.system.domain.ShiguInfo">
    <constructor>
      <idArg column="id" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="title" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="create_time" javaType="java.util.Date" jdbcType="TIMESTAMP" />
      <arg column="start_time" javaType="java.util.Date" jdbcType="TIMESTAMP" />
      <arg column="addr" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="user_id" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="user_name" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="shigu_type" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="shigu_type_id" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="remark" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="results" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="status" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="flag" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="type" javaType="java.lang.String" jdbcType="VARCHAR" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List">
    id, title, create_time, start_time, addr, user_id, user_name, shigu_type, shigu_type_id,
    remark, results, status, flag, type
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from shigu_info
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from shigu_info
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.system.domain.ShiguInfo">
    insert into shigu_info (id, title, create_time,
      start_time, addr, user_id,
      user_name, shigu_type, shigu_type_id,
      remark, results, status,
      flag, type)
    values (#{id,jdbcType=INTEGER}, #{title,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP},
      #{startTime,jdbcType=TIMESTAMP}, #{addr,jdbcType=VARCHAR}, #{userId,jdbcType=INTEGER},
      #{userName,jdbcType=VARCHAR}, #{shiguType,jdbcType=VARCHAR}, #{shiguTypeId,jdbcType=INTEGER},
      #{remark,jdbcType=VARCHAR}, #{results,jdbcType=VARCHAR}, #{status,jdbcType=VARCHAR},
      #{flag,jdbcType=VARCHAR}, #{type,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.system.domain.ShiguInfo">
    insert into shigu_info
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="title != null">
        title,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="startTime != null">
        start_time,
      </if>
      <if test="addr != null">
        addr,
      </if>
      <if test="userId != null">
        user_id,
      </if>
      <if test="userName != null">
        user_name,
      </if>
      <if test="shiguType != null">
        shigu_type,
      </if>
      <if test="shiguTypeId != null">
        shigu_type_id,
      </if>
      <if test="remark != null">
        remark,
      </if>
      <if test="results != null">
        results,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="flag != null">
        flag,
      </if>
      <if test="type != null">
        type,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="title != null">
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="startTime != null">
        #{startTime,jdbcType=TIMESTAMP},
      </if>
      <if test="addr != null">
        #{addr,jdbcType=VARCHAR},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="userName != null">
        #{userName,jdbcType=VARCHAR},
      </if>
      <if test="shiguType != null">
        #{shiguType,jdbcType=VARCHAR},
      </if>
      <if test="shiguTypeId != null">
        #{shiguTypeId,jdbcType=INTEGER},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="results != null">
        #{results,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        #{status,jdbcType=VARCHAR},
      </if>
      <if test="flag != null">
        #{flag,jdbcType=VARCHAR},
      </if>
      <if test="type != null">
        #{type,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.system.domain.ShiguInfo">
    update shigu_info
    <set>
      <if test="title != null">
        title = #{title,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="startTime != null">
        start_time = #{startTime,jdbcType=TIMESTAMP},
      </if>
      <if test="addr != null">
        addr = #{addr,jdbcType=VARCHAR},
      </if>
      <if test="userId != null">
        user_id = #{userId,jdbcType=INTEGER},
      </if>
      <if test="userName != null">
        user_name = #{userName,jdbcType=VARCHAR},
      </if>
      <if test="shiguType != null">
        shigu_type = #{shiguType,jdbcType=VARCHAR},
      </if>
      <if test="shiguTypeId != null">
        shigu_type_id = #{shiguTypeId,jdbcType=INTEGER},
      </if>
      <if test="remark != null">
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="results != null">
        results = #{results,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=VARCHAR},
      </if>
      <if test="flag != null">
        flag = #{flag,jdbcType=VARCHAR},
      </if>
      <if test="type != null">
        type = #{type,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.system.domain.ShiguInfo">
    update shigu_info
    set title = #{title,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      start_time = #{startTime,jdbcType=TIMESTAMP},
      addr = #{addr,jdbcType=VARCHAR},
      user_id = #{userId,jdbcType=INTEGER},
      user_name = #{userName,jdbcType=VARCHAR},
      shigu_type = #{shiguType,jdbcType=VARCHAR},
      shigu_type_id = #{shiguTypeId,jdbcType=INTEGER},
      remark = #{remark,jdbcType=VARCHAR},
      results = #{results,jdbcType=VARCHAR},
      status = #{status,jdbcType=VARCHAR},
      flag = #{flag,jdbcType=VARCHAR},
      type = #{type,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>

  <select id="list" resultType="com.system.domain.ShiguInfo">
    SELECT
    c.id,
    c.title,
    c.create_time,
    DATE_FORMAT( start_time, "%Y-%m-%d %H:%i:%s" ) startTimeStr,
    c.start_time,
    c.addr,
    c.user_id,
    ( SELECT a.NAME FROM sys_user a WHERE a.user_id = c.user_id ) user_name,
    c.shigu_type_id,
    ( SELECT a.NAME FROM type_info a WHERE a.id = c.shigu_type_id ) shigu_type,
    c.remark,
    c.results,
    c.STATUS,
    c.flag,
    c.type
    FROM
    shigu_info c
    <where>
      <if test="title != null and title != ''"> and c.title like concat('%',#{title},'%') </if>
      <if test="flag != null and flag != ''"> and c.flag = #{flag} </if>
      <if test="type != null and type != ''"> and c.type = #{type} </if>
      <if test="status != null and status != ''"> and c.status = #{status} </if>
    </where>
    <choose>
      <when test="sort != null and sort.trim() != ''">
        order by ${sort} ${order}
      </when>
      <otherwise>
        order by create_time desc
      </otherwise>
    </choose>
    <if test="offset != null and limit != null">
      limit #{offset}, #{limit}
    </if>
  </select>

  <select id="count" resultType="int">
    select count(*) from shigu_info
    <where>
      <if test="title != null and title != ''"> and title like concat('%',#{title},'%') </if>
      <if test="flag != null and flag != ''"> and flag = #{flag} </if>
      <if test="type != null and type != ''"> and type = #{type} </if>
      <if test="status != null and status != ''"> and status = #{status} </if>
    </where>
  </select>

  <select id="findTypeShigu" resultType="com.system.vo.PubOutVo1" >
    SELECT
      count( t1.shigu_type_id) value,t2.name name
      FROM
      shigu_info t1
      LEFT JOIN type_info t2 ON t1.shigu_type_id = t2.id
      WHERE
      1 = 1 and t1.`status`='1'
      GROUP BY
      t1.shigu_type_id;
  </select>

  <select id="findMonthShigus" resultType="com.system.vo.PubOutVo" >
     SELECT
    DATE_FORMAT( days.DAY, '%Y-%m-%d' ) createTimeStr,
    count( DATE_FORMAT( create_time, '%Y-%m-%d' ) ) num
    FROM
    (
    SELECT
     date_add( date_add(curdate()-day(curdate())+2,interval -1 month ),
     INTERVAL ( cast( help_topic_id AS signed
      ) - 1 ) DAY ) DAY
    FROM
     mysql.help_topic
    WHERE
     help_topic_id &lt;  (DATEDIFF(DATE_ADD(curdate(), INTERVAL - DAY(curdate())+ 1 DAY), date_add(curdate()- DAY(curdate())+ 1, INTERVAL -1 MONTH)))
    ORDER BY
     help_topic_id ) days
    LEFT JOIN shigu_info t1 ON date( days.DAY ) = date( t1.create_time )
   where 1=1
    GROUP BY
    days.DAY,
    DATE_FORMAT( t1.create_time, '%Y-%m-%d' );
  </select>

</mapper>