<!DOCTYPE html>
<html>
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="gray-bg">
<div class="wrapper wrapper-content animated fadeInRight">
	<div class="row">
		<div class="col-sm-12">
			<div class="ibox-content">
				<form class="form-horizontal m-t" id="signupForm">
					<input id="id" name="id" th:value="${weihuapininfo.id}" type="hidden">
					<input id="userId1" name="userId1" th:value="${weihuapininfo.userId}" type="hidden">
					<input id="shiyongUserId1" name="shiyongUserId1" th:value="${weihuapininfo.shiyongUserId}" type="hidden">
					<input id="type1" name="type1" th:value="${weihuapininfo.type}" type="hidden">

					<div class="form-group">
						<label class="col-sm-3 control-label">出入库标识：</label>
						<div class="col-sm-8">
							<select name="type" id="type" class="form-control"  >
								<option  value="1" > 入库</option>
								<option  value="2" > 出库</option>
							</select>
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-3 control-label">入库/出库时间：</label>
						<div class="col-sm-8">
							<input type="text" class="form-control" name="startTimeStr" placeholder="yyyy-MM-dd HH:mm:ss" id="comInTime"  th:value="${weihuapininfo.startTimeStr}" autocomplete="off" >
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-3 control-label">名称：</label>
						<div class="col-sm-8">
							<input id="name" name="name" class="form-control" th:value="${weihuapininfo.name}" type="text">
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-3 control-label">数量：</label>
						<div class="col-sm-8">
							<input id="num" name="num" class="form-control" type="number" th:value="${weihuapininfo.num}">
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-3 control-label">单位：</label>
						<div class="col-sm-8">
							<input id="danwei" name="danwei" class="form-control" type="text" th:value="${weihuapininfo.danwei}">
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-3 control-label">保存方法：</label>
						<div class="col-sm-8">
							<input id="saveMethod" name="saveMethod" class="form-control" type="text" th:value="${weihuapininfo.saveMethod}">
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-3 control-label">保存位置：</label>
						<div class="col-sm-8">
							<input id="saveSite" name="saveSite" class="form-control" type="text" th:value="${weihuapininfo.saveSite}">
						</div>
					</div>

					<div class="form-group">
						<label class="col-sm-3 control-label">负责人名称：</label>
						<div class="col-sm-8">
							<select name="userId" id="userId" class="form-control"  >
								<option th:each="pets:${userdo}" th:value="${pets.userId}"
										th:text="${pets.userId}+'----'+${pets.name}"></option>
							</select>
						</div>
					</div>

					<div class="form-group">
						<label class="col-sm-3 control-label">使用人名称：</label>
						<div class="col-sm-8">
							<select name="shiyongUserId" id="shiyongUserId" class="form-control"  >
								<option th:each="pets:${userdo}" th:value="${pets.userId}"
										th:text="${pets.userId}+'----'+${pets.name}"></option>
							</select>
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-3 control-label">处置方法：</label>
						<div class="col-sm-8">
							<input id="chuzhi" name="chuzhi" class="form-control" type="text" th:value="${weihuapininfo.chuzhi}">
						</div>
					</div>
					<div class="form-group">
						<div class="col-sm-8 col-sm-offset-3">
							<input type="button" class="btn btn-primary" onclick="update()" value="提交"/>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
<div th:include="include::footer"></div>
<script src="/ueditor-1.4.3.3/ueditor.config.js"></script>
<script src="/ueditor-1.4.3.3/ueditor.all.min.js"></script>
<script src="/ueditor-1.4.3.3/lang/zh-cn/zh-cn.js"></script>
<script type="text/javascript" src="/js/appjs/sys/weihuapin/edit.js">
</script>
<script type="text/javascript" src="/layui/layui.js"></script>
<script type="text/javascript" >
    layui.use('laydate', function(){
        var laydate = layui.laydate;
        //日期时间范围
        laydate.render({
            elem: '#comInTime'
            ,type: 'datetime'
        });
        laydate.render({
            elem: '#jianchaEndTime'
            ,type: 'datetime'
        });
    });
</script>
</body>
</html>
